@model WebDevLabs.Models.Notes

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>blog</title>
</head>
<body>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="Enter">Войти</a>
        <a class="btn btn-primary" asp-action="NewEntry">Новая запись</a>
        <a class="btn btn-primary" asp-action="SendMessage">Отправить сообщение</a>
        <a class="btn btn-primary" asp-action="Photo">Фото</a>
        <a class="btn btn-primary" asp-action="Files">Файлы</a>
        <a class="btn btn-primary" asp-action="Admin">Администратору</a>
        <a class="btn btn-primary" asp-action="Inform">Информация</a>
        <a class="btn btn-primary" asp-action="Exit">Выйти</a>
    </div>

    <hr>

    <div>
        <div>
            <h4>Blog</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Article)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Article)
                </dd>
            </dl>
        </div>
    </div>

</body>
</html>